.general {
  margin: 200px auto 0 auto;
  justify-content: center;
  text-align: center;
}

.general img {
  width: 100px;
}

.general h2 {
  color: rgb(92, 92, 92);
  font-weight: 700;
}

.general p {
  color: gray;
}
